<form [formGroup]="exchangeForm">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label>Fecha</ion-label>
          <ion-datetime
            displayFormat="DD MM YY"
            value="new Date()"
            formControlName="date"
          ></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Monto</ion-label>
          <ion-input
            formControlName="amount"
            type="number"
            inputmode="decimal"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Descipción</ion-label>
          <ion-input
            formControlName="description"
            type="text"
            inputmode="text"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label>Origen</ion-label>
          <ion-select formControlName="sourceAccount">
            <ion-select-option value="1">TDD Bancomer</ion-select-option>
            <ion-select-option value="2">TDD Banamex</ion-select-option>
            <ion-select-option value="3">Efectivo</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label>Destino</ion-label>
          <ion-select formControlName="destinationAccount">
            <ion-select-option value="1">TDD Bancomer</ion-select-option>
            <ion-select-option value="2">TDD Banamex</ion-select-option>
            <ion-select-option value="3">Efectivo</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
