<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="movements">
      <ion-icon name="swap-vertical-outline"></ion-icon>
      <ion-label>Movimientos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="accounts">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Cuentas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports">
      <ion-icon name="pie-chart-outline"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="config">
      <ion-icon name="options-outline"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
